<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aquacrew.aquabutton">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="aquacrew.aquabutton.AquaApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:appCategory="audio"
        tools:targetApi="o">

        <activity
            android:name="aquacrew.aquabutton.ui.main.MainActivity"
            android:theme="@style/AppTheme.TransparentUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="aquacrew.aquabutton.ui.settings.PreferenceActivity"
            android:label="@string/action_settings"
            android:exported="true"/>

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />

    </application>

</manifest>